{% extends "base.html" %} 
{% block title %}
Home
{% endblock %} 
{% block content %}
<body 
  background="{{ url_for('static', filename='teste.jpg') }}"
  background-repeat= no-repeat
  background-size= 100%> 
<div class="jumbotron">
  <h1 class="display-4">Bem vindo!</h1>
  <p class="lead">Este é o Projeto Integrador feitos por estudantes da UNIVESP que visa facilitar a vida de escolas estaduais :)</p>
  <hr class="my-4">
  <p>Nele é possível que escolas cadastrem suas demandas (de recursos e professores), como se fosse um mural, para que professores e doadores possam entrar em contato.</p>
  <a class="btn btn-primary btn-lg" href="/cadastro_usuario" role="button" align='center'>Cadastre-se</a>
  <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock %} 