{% extends "base.html" %} 
{% block title %}
Mural
{% endblock %} 
{% block content %}

<center><div class="card" style="width: 40rem;"></center>
  <div class="card-header">
    <center><h5>Mural de necessidades</h5></center>
  </div>
  <table class="card-table table">
    <thead>
      <tr>
        <th scope="col"><center>Recurso</center></th>
        <th scope="col"><center>Quantidade</center></th>
        <th scope="col"><center>Matéria</center></th>
        <th scope="col"><center>Período</center></th>
        <th scope="col"><center>Observações</center></th>
        <th scope="col"><center>Escola</center></th>
        <th scope="col"><center>E-mail</center></th>
        <th scope="col"><center>Telefone</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><center>Tinta</center></td>
        <td><center>2</center></td>
        <td><center>-</center></td>
        <td><center>-</center></td>
        <td><center>Galões de tinta branca</center></td>
        <td><center>Escola fictícia 1</center></td>
        <td><center>email_escola1@escola.com.br</center></td>
        <td><center>1112345678</center></td>
      </tr>
      <tr>
        <td><center>-</center></td>
        <td><center>4</center></td>
        <td><center>Matemática</center></td>
        <td><center>Manhã</center></td>
        <td><center>Nas quartas e quintas</center></td>
        <td><center>Escola fictícia 2</center></td>
        <td><center>email_escola2@escola.com.br</center></td>
        <td><center>1112345678</center></td>
      </tr>
      
    </tbody>
  </table>
</div>



</section>

{% endblock %} 